<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!--力导图数据获取-->
    <servlet>
        <servlet-name>getJson</servlet-name>
        <servlet-class>services.getJson</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getJson</servlet-name>
        <!--浏览器中输入的url，可以随意取名  但是注意加"/" -->
        <url-pattern>/getJson</url-pattern>
    </servlet-mapping>

    <!--主流程数据获取-->
    <servlet>
        <servlet-name>MainJson</servlet-name>
        <servlet-class>services.MainJson</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainJson</servlet-name>
        <url-pattern>/MainJson</url-pattern>
    </servlet-mapping>

    <!--树形图数据获取-->
    <servlet>
        <servlet-name>TreeJson</servlet-name>
        <servlet-class>services.TreeJson</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TreeJson</servlet-name>
        <url-pattern>/TreeJson</url-pattern>
    </servlet-mapping>

    <!--处理上传文件-->

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>services.Upload</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>

    <!--处理链接转编号-->
    <servlet>
        <servlet-name>getLink</servlet-name>
        <servlet-class>services.getLink</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getLink</servlet-name>
        <url-pattern>/getLink</url-pattern>
    </servlet-mapping>

    <!--请求头过滤-->

    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>